.navbar {
    display: flex;
    padding: 1rem;
    background-color: #f7ffae;
    color: #123e06;
    font-family: "Courier New", serif;
    font-weight: bolder;
    justify-content: space-evenly;
}
